<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>64193668277-08br2lu8u1jcht7d8qde1a7bn8qjtmgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64193668277-08br2lu8u1jcht7d8qde1a7bn8qjtmgu</string>
	<key>API_KEY</key>
	<string>AIzaSyDOKpFu3r5bvvVlFgv6IaT9vjCMt_ganI8</string>
	<key>GCM_SENDER_ID</key>
	<string>64193668277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartypans.smartypansapp</string>
	<key>PROJECT_ID</key>
	<string>sp-debug-3bd9a</string>
	<key>STORAGE_BUCKET</key>
	<string>sp-debug-3bd9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64193668277:ios:76d5ddbe412b8d07</string>
	<key>DATABASE_URL</key>
	<string>https://sp-debug-3bd9a.firebaseio.com</string>
</dict>
</plist>